/*
	Color fondo: #632432;
	Color header: 246355;
	Color borde: 0F362D;
	Color iluminado: 369681;
*/
body {
    background-color: #faf0f2;
    font-family: Arial;
}

#main-container {
    margin-top: 150px auto;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    overflow: scroll;
    height: 430px;

}

table {
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 20px;
}

thead {
    background-color: #18c57d;
    border-bottom: solid 5px #0F362D;
    color: white;
}

tr:nth-child(even) {
    background-color: rgba(39, 185, 211, 0.233);
}

tr:hover td {
    background-color: #20d3d3;
    color: white;
}

.Comprobante {
    text-align: center;
}

.Hoja {
    border-radius: 1%;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: rgba(106, 194, 48, 0);


}

.Texto_izquierdo {
    text-align: right;
    margin-right: 50px;
}

.borde {
    border: 0;
}

.logo {
    text-align: left;
    width: 70px;
}

.logo2 {
    float: right;
    width: 110px;
}

td {

    background-color: rgba(82, 148, 52, 0);
}

th {
    text-align: left;
    margin-right: 100px;

}

.espacio {
    width: 50%;
    height: 30px;
    text-align: center;
}

.espacio1 {
    width: 54%;
    height: 30px;
    text-align: center;
    border-color: aqua;
}

.texto {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.texto2 {
    font-weight: lighter;
}

.espa {
    margin-top: 3%;
    border: 1px solid black;
}

.formato {
    position: relative;
}